/* grid container */
.container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 400px;
  height: 400px;
  border: green;
  background-color: transparent;
  flex-wrap: wrap;
}

/* mini boxes class */
.grid {
  background-color: transparent;
  border: solid;
  border-width: 1px;
  width: 100%;
}

.grid:hover {
  background-color: black;
}

/* span for italic */
.italic {
  font-style: italic;
}

/* grid */


